.header {
    background-color: var(--background-color-alternative);
}

.headerWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
}

.logo:hover {
    color: #ddd;
}

.burgerBtn {
    display: block;
    color: white;
    padding: 1rem;
    line-height: 0%;
}

.burgerBtn svg {
    width: 1.5rem;
    height: 1.5rem;
}

.desktopNav {
    display: none;
}

@media (min-width:768px) {
    .burgerBtn {
            display: none;
        }

    .desktopNav {
        display: block;
    }
}