.app {
    /* width: 90%;
    max-width: 1280px; */
    margin: 0px auto;
    padding: 0 1rem 1rem;
}

.toolbar {
    margin-bottom: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:flex-start;
    gap: 1rem;
    padding: 16px 0;
    background-color: #f8f9fa;
    border-bottom: 1px solid #dee2e6;
    width: 100%;
}

.button {
    padding: 6px 12px;
    font-size: 16px;
    color: #fff;
    background-color: #0d6efd;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.button:hover {
    background-color: #0b5ed7;
}

@media (min-width:768px) {
    .toolbar {
        flex-direction: row;
        align-items: center;
    }
}