.section {
    padding-block: 2rem;
}

.title {
    font-size: 2rem;
    font-weight: 700;
    color: #1a1a1a;
    margin-bottom: 4rem;
    text-align: center;
}

.description {
    font-size: 1rem;
    color: #444444;
    line-height: 28px;
    margin-bottom: 1rem;
    text-align: center;
}