.container {
    display: flex;
    flex-direction: row;
    height: 100%;
}

 .sidebar{
    display: none;
 }

.notesWrapper {
    width: 100%;
}

@media (min-width: 768px) {
    .sidebar {
            min-width: 165px;
            background-color: #2c2c2c;
            color: white;
            padding: 1rem;
            display: flex;
            flex-direction: column;
            height: 100vh;
            border-right: 1px solid #ddd;
        }
}