.menuList {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-weight: 600;
}

.menuItem {
    margin-bottom: 16px;
}

.menuLink {
    text-decoration: none;
    color: white;
    font-size: 16px;
    display: block;
    padding: 8px 16px;
    transition: background-color 0.3s ease;
    &:hover,
    &:focus {
        background-color: #444;
        color: #ddd;
        border-radius: 4px;}
}

